@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root{
    --neon:hsl(150, 100%, 66%);
    --light-cyan:hsl(193, 38%, 86%);
    --darkgrey-bg:hsl(218, 23%, 16%);
    --lightgrey-bg:hsl(217, 19%, 24%);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    place-items: center;
    justify-content:center;
    flex-direction: column;
    height: 100vh;
    font-family:'Manrope',sans-serif ;
    background-color: var(--darkgrey-bg);
}

.container{
   height: fit-content;
    max-width: 27.8em;
    background-color: var(--lightgrey-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
    position: relative;
    
}

.container>*{
    padding: 1em;
    color: var(--light-cyan);
}

.container>.advice-no{
    color: var(--neon);
    margin: 1em 0;
}

.divider{
    max-width: 90%;
}
.divider>img{
    margin: 0 1em 3em;
    width: 90%;
    text-align: center;
}
.advice-head{
    text-align: center;
}

.dice-cont{
   display: flex;
   justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--neon);
    position: absolute;
    top: 91%;

}

.dice-cont:hover{
    cursor: pointer;
     box-shadow:
    /* inset 0 0 50px #fff,    inner white */
    inset 20px 0 80px var(--neon),   /* inner left magenta short */
    inset -20px 0 80px #0ff,  /* inner right cyan short */
    inset 20px 0 300px var(--neon),  /* inner left magenta broad */
    inset -20px 0 300px #0ff, /* inner right cyan broad */
          /* outer white */
    -10px 0 80px var(--neon),        /* outer left magenta */
    10px 0 80px #0ff;         /* outer right cyan */
}

.dice-cont img{
   margin-top: 2px;
}

.attribution{
    position: absolute;
    bottom: 3px;
    color: var(--light-cyan);
}

@media (max-width:50rem) {
    .container{
        margin-inline: 2em;
    }
}